$primary-color: #43766C;
$secondary-color: #B19470;
$background-color: #F8FAE5;
$accent-color: #76453B;

.details-container {
  padding: 20px;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;

  h2 {
    color: $primary-color;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;

    strong {
      margin-right: 5px;
    }
  }

  button {
    background-color: $primary-color;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

.not-found {
  text-align: center;
  color: #555;
  margin-top: 20px;
}

